# This is an example file.
# Copy this to a new file named .env in the same location, and fill in your real secrets.
# DO NOT COMMIT THE .env FILE TO GIT.

# Eleven Labs API Key. Needed for the audio gen script. Get yours at https://elevenlabs.io/app/developers/api-keys
ELEVENLABS_API_KEY=your_elevenlabs_api_key_here
